.projects-container {
    background-color: white;
    color: rgb(179, 179, 179);
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.projects-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
}
