.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Inter', sans-serif;
    background-color: white;


    h2 {
        font-weight: 200;
        margin-top: 1.5%;

        @media(max-width: 500px) {
           font-size: 1.5rem;
        }

        @media(max-height: 600px) {
            font-size: 1rem;
         }
    }
    
    .skill-stack {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width:  100%;
        margin: auto;

        .skill-stack-container {
            margin-bottom: 5px;
        }
    
        .img-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .img-h3-container {
                padding: 25px;
                
                h3 {
                    margin-top: 5px;
                    font-weight: 100;

                    @media(max-width: 500px) {
                        font-size: .75rem;
                     }

                     @media(max-height: 600px) {
                        font-size: 0.75rem;
                     }
                }
    
                img {
                    width: 100px;
                    height: 100px;

                    @media(max-width: 800px) {
                        width: 45px;
                        height: 45px;
                    }

                    @media(max-height: 600px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

        }


    }

    .skill-sub-container {
        height: 40%;
        width: 70%;
        margin: auto;

       .img-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 25px;
            flex-wrap: wrap;
            margin-bottom: 5px;

            h3 {
                margin-top: 5px;
                margin-bottom: 25px;
                margin-left: 15px;
                margin-right: 15px;
                font-weight: 100;

                @media(max-width: 500px) {
                    font-size: .75rem;
                 }

                 @media(max-height: 600px) {
                    font-size: 0.75rem;
                 }
            }
            
            img {
                width: 100px;
                height: 100px;

                @media(max-width: 800px) {
                    width: 50px;
                    height: 50px;
                }

                
                @media(max-height: 600px) {
                    width: 40px;
                    height: 40px;
                }
            }
       }
    }

    @media(max-width: 1000px) {
        align-items: center;
        justify-content: space-between;    

        .skill-stack {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    
        .skill-sub-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: auto;

            .img-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
           }
        }       
    }

    @media (max-height: 600px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;   

        .skill-stack {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 50%;
        }
    
        .skill-sub-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: auto;

            .img-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
           }
        }         
    }
}

