.menu-bar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    width: 7.5%;
    position: fixed;
    top: 0px !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;

    @media (max-width: 800px) {
        width: 15%;
    }

    .navigation-home {
        height: 40%;
        display: flex;
        align-items: center;

        @media (max-height: 600px) {
            height: 20%;
        }

        
        .active {
            img {
                filter: invert(100);
                transition: all 0.1s ease-in;
        
                & + h1 {
                    visibility: visible;
                }
            }

            &:hover {
                cursor: default;
            }
        }

        .navigation-bar-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                visibility: hidden;
                position: static;
                font-size: 0.7rem;
                font-weight: 200;
                margin-top: 3.5px;

                @media (max-width: 1024px) {
                    visibility: visible;
                    font-size: 0.5rem;
                }

                @media (max-height: 600px) {
                    margin-top: 15px;
                }

            }

            & img {
                height: 35px;
                width: 35px;
                padding: 7.55px;
                border-radius: 50%;
                background-color: black;
                transition: all 0.1s ease-in;

                &:hover {
                    filter: invert(100);
                    transition: all 0.1s ease-in;

                    & + h1 {
                        visibility: visible;
                    }
                }

                @media (max-width: 800px) {
                    height: 30px;
                    width: 30px;
                }

                @media (max-height: 600px) {
                    height: 20px;
                    width: 20px;
                    padding: 2.5px;                  
                }
            }

        }

    }

    .navigation-bar {
        display: flex;
        flex-direction: column;
        height: 33%;
        width: 100%;

        
        .active {
            img {
                filter: invert(100);
                transition: all 0.3s ease-in;
        
                & + h1 {
                    visibility: visible;
                }
            }

            &:hover {
                cursor: default;
            }
        }

        .navigation-bar-icon {
            margin-top: 15px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: 800px) {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            @media (max-height: 600px) {
                margin-top: 5px;
                margin-bottom: 2.5px;
            }

            h1 {
                visibility: hidden;
                position: static;
                font-size: 0.75rem;
                font-weight: 200;
                margin-top: 3.5px;
                margin-bottom: 3.5px;

                @media (max-width: 1024px) {
                    visibility: visible;
                    font-size: 0.45rem;
                    margin-top: 5px;
                }
            }

            & img {
                height: 35px;
                width: 35px;
                padding: 7.5px;
                border-radius: 50%;
                background-color: black;
                transition: all 0.1s ease-in;

                @media (max-width: 800px) {
                    height: 30px;
                    width: 30px;
                    padding: 7.5px;
                }

                @media (max-height: 600px) {
                    height: 20px;
                    width: 20px;
                    padding: 2.5px;                  
                }

                &:hover {
                    filter: invert(100);
                    transition: all 0.1s ease-in;

                    & + h1 {
                        visibility: visible;
                    }
                }
            }

        }
    }

    .social-links {
        display: flex;
        flex-direction: column;
        height: 33%;
        justify-content: flex-end;
        margin-bottom: 20px;
        font-size: 0.9rem;

        
        @media (max-height: 600px) {
            margin-bottom: 5px;                 
        }


        .fa {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 7.5px;
            color: white;
            transition: all 0.1s ease-in;


            @media (max-height: 600px) {
                padding: 7.5px;
                margin-top: 2.5px;
                margin-bottom: 2.5px;  
                font-size: 0.75rem;            
            }

   
            &:hover {
                border-radius: 50%;
                background-color: white;
            }


        }

        .fa-twitter:hover {
            color: #00acee;
        }

        .fa-linkedin:hover {
            color: #0e76a8;
        }

        .fa-github:hover {
            color: #211f1f;
        }    

    }

    .active {
        img {
            filter: invert(100);
            transition: all 0.1s ease-in;
    
            & + h1 {
                visibility: visible;
            }
        }
    }
}








