.objective {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Thambi 2', cursive;
    margin: auto;
    color: black;
    background-color:white;
    word-spacing: .2rem;
}

.objective-text {
    width: 70%;
}

.objective-text h1 {
    font-size: 3.5rem;
    font-family: 'Caveat', cursive;
}

.objective-text h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    font-family: 'Comic Neue', cursive;
}

.objective-text h3 {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    color: red;
    font-family: 'Poiret One', cursive;
}

@media (max-width: 1000px) {
    .objective-text h1 {
        font-size: 2.5rem;
    }

    .objective-text h2 {
        font-size: 1.5rem;
    }

    .objective-text h3 {
        font-size: 1rem;
    }
} 

@media (max-width: 800px) {
    .objective-text h1 {
        font-size: 2.5rem;
    }

    .objective-text h2 {
        font-size: 1.5rem;
    }

    .objective-text h3 {
        font-size: 1rem;
    }
} 

@media (max-width: 700px) {
    .objective-text h1 {
        font-size: 2rem;
    }

    .objective-text h2 {
        font-size: 1rem;
    }

    .objective-text h3 {
        font-size: 0.8rem;
    }
} 

@media (max-height: 600px) {
    .objective-text h1 {
        font-size: 2rem;
    }

    .objective-text h2 {
        font-size: 1rem;
    }

    .objective-text h3 {
        font-size: 0.9rem;
    }
} 